.p-t-0 {
  padding-top: 0;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-b-0 {
  padding-bottom: 0;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-l-0 {
  padding-left: 0;
}
.p-l-15 {
  padding-left: 15px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-l-30 {
  padding-left: 30px;
}
.p-r-0 {
  padding-right: 0;
}
.p-r-10 {
  padding-right: 10px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-r-30 {
  padding-right: 30px;
}
