// Colors

/* Brands */
$primary: #1F659D;
$primary_dark: #0F5389;
$white: #fff;
$black: #0c1024;

/* Background */
$background: #F4F5F9;
$background-autocomplete-option: #eee;
$Grey_60: #6B6E7A;

/* Secondary Colors */
$secondary_00: #02A532;
$Secondary_00: #79B667;
$secondary_01: #F9CE4B;
$secondary_02: #F2D670;

/* Primary Colors */
$primary_80: #324988;
$primary_60: #6475A4;
$primary_40: #A2BED5;
$primary_20: #CEDCE7;
$primary_10: #E1E4EC;

/* Feedback colors */
$success: #7ED321;
$warning: #FF8B00;
$error: #E42526;
$error-invalid-feedback: #FF0000;
$error_validation: #EA4335;
$error_validation_rgba: rgba(234, 67, 53, .2);

/* Neutral colors */
$neutral_80: #3C3F4F;
$neutral_60: #6B6E7A;
$neutral_40: #9B9CA4;
$neutral_20: #CACBCF;

/* Social media colors */
$facebook: #3B5998;
$messenger: #0084FF;
$twitter: #00A2F9;
$whatsapp: #75CF6C;
$pinterest: #A5221F;
$google: #EA4335;
$instagram: radial-gradient(113.07% 113.07% at 10.23% 113.07%, #FA8F21 0%, #F0723D 21.88%, #EE6D42 43.75%, #E24964 60.94%, #D02F83 81.25%, #8B439E 100%);

// Values

$border-radius: 4px;
$width-field: 272px;
$height-field: 48px;
